<div  role="dialog">
    <div class="modal-header">
            <h1><center>List of Sessions</center></h1>
    </div>
    <div class="modal-body">
        
        <table class="table table-striped" ui-jq="footable" data-filter="#filter" data-page-size="5" class="table table-striped">
            <thead>
            <tr></tr>             
                <th>
                    Session
                </th>
                <th>
                    Status
                </th>
                <th>
                  Actions
                </th>                
            </tr>
            </thead>
        </thead>
        <tbody>
        <tr ng-repeat="y in years">
            
            <td>{{y.label}}</td>
            <td>{{y.status}}</td>            
            <td>
            <button ng-show="y.mode==0" data-toggle="modal"  style="border: none;font-family: 'Courier New', Courier, monospace;font-size: 16px" class="label label-danger" ng-click="newAppEmp()">
                <i class="fa fa-power-off" > &nbsp {{y.title}}</i></button>
            <button ng-show="y.mode==1" data-toggle="modal"  style="border: none;font-family: 'Courier New', Courier, monospace;font-size: 16px" class="label label-warning" ng-click="newAppEmp()">
                    <i class="fa fa-toggle-right" > &nbsp {{y.title}}</i></button>  
            <button ng-show="y.mode==2" data-toggle="modal"  style="border: none;font-family: 'Courier New', Courier, monospace;font-size: 16px" class="label label-secondary"  ng-click="oldAppEmp(y.idAnn)">
                    <i class="fa fa-eye" > &nbsp {{y.title}}</i></button>   
            </td>
        </tr>                                 
        </tbody>
    </div>