<link rel="stylesheet" type="text/css" href="../css/employersList.css">
<link rel="stylesheet" type="text/css" href="../css/updateEmployer.css">


<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container-fluid">
  <br><br><br>
  <div class="row" style="margin-left: 1%">
      <div class="col-md-4">
        <label style="font-size: 12px;">BU:&nbsp&nbsp&nbsp&nbsp</label><br>
        <input style="font-size: 13px;background-color: rgb(197, 196, 196);" ng-model="bu" disabled/><br></div>
      <div class="col-md-4"> 
        <label style="font-size: 13px;">Division/Team:</label><br>
        <input style="font-size: 15px;background-color: rgb(197, 196, 196);" ng-model="team" disabled/><br></div>
      <div class="col-md-4">
          <label style="font-size: 13px;">Objectives applicable on year:</label><br>
          <input style="background-color: rgb(197, 196, 196);font-size: 15px;background-color: rgb(202, 201, 201);" ng-model="session" disabled /><br>
      </div>
    </div>
  <div class="container-fluid" style="margin-left: 10%">
      <div style="background-color:rgb(255, 255, 255);margin-top: 1%;margin-left: -11%;">
          <br>
 



  <div style="background-color: rgb(202, 201, 201);width: 100%;margin-block-end: -1%;">
  
  <div class="container-fluid" style="margin-left: 10%">
    <div style="background-color:rgb(255, 255, 255);margin-top: 1%;margin-left: -11%;">
    

    <div class="row" style="margin-left: 10%">
      <div class="col-sm-6">
          <label style="font-size: 13px;margin-left: 1%">Appraisal date:</label>
          <label style="color: rgb(75, 116, 230); font-size: 13px;">{{dayAnn}}/{{monthAnn}}/{{yearAnn}}</label>
           <br><br> 
        <h6 style="font-size: 15px;"><b>&nbspEmployer</b></h6><br>
				<label style="font-size: 13px;">&nbspLast Name:</label>
				<label style="font-size: 15px;">&nbsp{{employer.lastName}}</label><br> 
				<label style="font-size: 13px;">&nbspFirst Name:</label>
				<label style="font-size: 15px;">&nbsp{{employer.firstName}}</label><br>
				<label style="font-size: 13px;">&nbspPosition:</label>
				<label style=" font-size: 15px;">&nbsp{{employer.position}}</label><br>
				<label style="font-size: 13px;">&nbspN+2:</label>
				<label style="font-size: 15px;"></label><br>
				<label style="font-size: 13px;">&nbspStart date in this position:</label>
				<label style="font-size: 15px;">&nbsp{{date}}</label><br><br><br>
			</div>
      <div class="col-sm-6">
          <br><br><br>
      <h6 style="font-size: 15px;"><b>&nbspManager</b></h6><br>
                <label style="font-size: 13px;">Last Name:</label>
                <label style="font-size: 15px;">&nbsp{{manager.lastName}}</label><br> 
                <label style="font-size: 13px;">First Name:</label>
                <label style="font-size: 15px;">&nbsp{{manager.firstName}}</label><br> 
                <label style="font-size: 13px;">Position:</label>
                <label style="font-size: 15px;">&nbsp{{manager.position}}</label><br><br><br>
      
      </div>
     
      </div>
   
    </div>
    <br>
    </div>
  </div>
    </div>
  </div>
<br><br>
