<div  role="dialog">
        <div class="modal-header">
            <h4 class="modal-title" translate="modals.update.MOD.PROFIL"></h4>
        </div>
        <div class="modal-body" translate="modals.update.MOD.CONFIRM_PROFIL">
                Are you sure you want to change  your informations?
        </div>
        <div class="modal-footer">                  
            <button class="btn btn-default" ng-click="cancel()" >{{"buttons.BTN.NO" | translate}}</button>
            <button class="btn btn-primary" ng-click="updateEmployer()">{{"buttons.BTN.UPDATE" | translate}}</button>
        </div>
        </div>