<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'; ">
    <section class="box nobox margin-top-15 margin-bottom-0">
        <div class="content-body"> 
            <div class="col-lg-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left" translate="steps.messages.ANN.ANNUAL_APPRAISAL"></h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                            <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                            <i class="box_close material-icons">close</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-0">
                        <div class="row">
                            <br>
                            <div class="clearfix"></div><br>
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                
                               <table  class=" table table-striped"  data-page-size="5"  style="width:60%">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th translate="steps.messages.ANN.YEAR">
                                            Year:
                                        </th>
                                        <th translate="steps.messages.ANN.STATUS">
                                           Status
                                        </th>
                                        <th translate="steps.messages.EMP.ACT">
                                       <center>Annual Appraisal</center>

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="a in appEmps | orderBy : a.annualSession.label">
                                        <td>{{$index+1}}</td>
                                        <td>{{a.annualSession.label}}</td>
                                        <td>{{a.status}}</td>
                                        <td>
                                            <button ng-show="a.annualSession.mode==0" style="border:none" class="label label-success" ng-click="getApEmp(a.idApEmp)"><i class="fa fa-pencil"></i>
                                                &nbsp{{"buttons.BTN.FILL"|translate}}</button>
                                            <button ng-show="a.annualSession.mode==1" style="border: none;" class="label label-secondary"ng-click="getApEmp(a.idApEmp)">
                                                <i class="fa fa-eye"></i>&nbsp{{"buttons.BTN.CONSULT"|translate}}</button>
                                        </td>
                                    </tr>                                 
                                    </tbody>
                                    <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <ul class="pagination"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </div>

        </div>
    </section>
 
    <div class="clearfix"></div>


    <div class="clearfix"></div>

    <div class="clearfix"></div>


</div>
 