<!-- list -->
<ul class="wraplist wrapper-menu">
   
    <li ui-sref-active="active">
        <a ui-sref="" class="nosub">
            <i class="fa fa-file-pdf-o"></i>
            <span class="title" translate="dashboard.APP.FORMAT_PDF"></span>
        </a>
    </li>
    <li ui-sref-active="active">
            <a ui-sref="" class="nosub">
                <i class="fa fa-print"></i>
                <span class="title" translate="dashboard.APP.PRINT"></span>
            </a>
    </li>


</ul>
<!-- / list -->
