<div class="modal-header">
    <h4 class="modal-title">update Feedback</h4>
</div>
<div class="modal-body">
    <div class="row">
        <label class="badge">Feedback :</label>
        <input type="text"   class="form-control" ng-model="feedbackselcted.label">
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="update(feedbackselcted.idFdBack, feedbackselcted)">Enregister</button>
</div>