<div  role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">Update Objective</h4>
    </div>
    <div class="modal-body">
            <form action="/action_page.php" style="font-family:Poppins-Regular;">
                <div class="form-group">
                    <label>OBJECTIVES:</label> 
                    <textarea class="form-control"  rows="3" ng-change="isChange = true"  ng-model="objective.labelObj"></textarea>
                </div>
                <div class="form-group">
                    <label>INDICATORS:</label> 
                    <textarea class="form-control"  rows="3" ng-change="isChange = true" ng-model="objective.indicator"></textarea>
                </div>
                <div class="form-group">
                    <label>MEANS:</label>
                    <textarea class="form-control"  rows="3" ng-change="isChange = true" ng-model="objective.mean"></textarea>
                    
                </div>
                <div class="form-group">
                    <label>DEADLINE:</label> 
                    <input type="date"class="form-control" ng-change="isChange = true" ng-model="obj.deadLine" style="height: 90px"/>
                </div>
                
            </form>



    </div>
    <div class="modal-footer">                  
        <button class="btn btn-default" ng-click="cancel()">No</button>
        <button class="btn btn-primary" ng-click="updateObj()">Yes</button>
    </div>
    </div>