<link rel="stylesheet" type="text/css" href="css/employersList.css">
<link rel="stylesheet" type="text/css" href="css/updateEmployer.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<header class="w3-container w3-center w3-padding-48 w3-white"
	style="margin-top: 2px">
	<h1 style="margin-top: 2px">
		<img src="img/Logo.png" alt="Girl Hat"
			style="width: 20%; position: absolute; left: 78%;"
			class="w3-padding-16">
	</h1>
</header>
<br>
<br>
<br>



<br>
<div class="alert alert-success margin-top-5" ng-show="ajoutMessage">{{ajoutMessage}}</div>
<div class="alert alert-success margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
<div class="alert alert-success margin-top-5" ng-show="updateMessage">{{updateMessage}}</div>
<br><br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
				<label style="font-size: 13px;">Name:</label>
				<input style="font-size: 13px;margin-left:10px" ng-model="name" disabled/><br> 
				<label style="font-size: 13px;">BU:</label>
				<input style="font-size: 13px;margin-left:26px;" ng-model="bu" disabled/><br>
				<label style="font-size: 13px;">Date:</label>
				<input style=" font-size:13px;margin-left: 17px;" ng-model="date" disabled/><br>
				
			</div>
      <div class="col-sm-7">
                <label style="font-size: 13px;">N+1:</label>
                <input style="font-size: 13px;margin-left: 160px" ng-model="nameManager" disabled/><br> 
                <label style="font-size: 13px;">Division/Team:</label>
                <input style="font-size: 13px;margin-left: 95px;"  disabled/><br> 
                <label style="font-size: 13px;">Objectives applicable on year:</label>
                <input style="font-size: 13px;margin-left: 1px" ng-model="session.label" disabled/><br> 
      
      </div>
      
      
      
      </div>
    <br>
    
  </div>
 
    <button ng-show="add==0 && session.mode==0" type="button" class="btn btn-primary btn-sm" ng-click="addObj()">New Objective </button>
    <br><br>
    <table class="table" ng-init="init()">
      <thead>
        <tr>
          <th>#</th>
          <th><center>OBJECTIVES</center></th>         
          <th><center>INDICATORS</center></th>
          <th><center>MEANS</center></th>
          <th><center>DEADLINE</center></th>
          <th ng-show="session.mode==0" ><center>Action</center></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="add==1 && session.mode==0">
		<td></td>
          <td><textarea class="form-control"  rows="3" ng-change="isChange = true"  ng-model="obj.labelObj"></textarea></td>
          <td><textarea class="form-control"  rows="3" ng-change="isChange = true"  ng-model="obj.indicator"></textarea></td>
          <td><textarea class="form-control"  rows="3" ng-change="isChange = true"  ng-model="obj.mean"></textarea></td>
          <td><input type="date"class="form-control" ng-change="isChange = true" ng-model="obj.deadLine" style="height: 75px"/></td>
          <td>                                                
						<button data-title="Delete" data-toggle="modal" data-target="#delete" style="border: none" class="label label-warning"  ng-click="addNewObj()"><i class="fa fa-plus-circle"></i> Add Objective</button>                                        
          </td>
        </tr>
        <tr  ng-repeat="o in objs">
				
           <td>{{$index+1}}</td>
          <td><center>{{o.labelObj}}</center></td>
          <td><center>{{o.indicator}}</center></td>
          <td><center>{{o.mean}}</center></td>
          <td><center>{{dayObj}}/{{monthObj}}/{{yearObj}}</center></td>
          <td>&nbsp&nbsp
             <button ng-show="session.mode==0" data-title="Delete" data-toggle="modal" data-target="#delete" class="fa fa-trash-o" style="color: #fd0202; font-size: 20px;" ng-click="section_modalDeleteApObj(o.idApObjEmp)"></button>
			 &nbsp&nbsp
			 <button ng-show="session.mode==0" data-title="Update" data-toggle="modal" data-target="#update" class="fa fa-edit"style="color: #3002fd; font-size: 20px;" ng-click="section_modalUpdateApObj(o.idApObjEmp)"></button>
          </td>
        </tr>
			</tbody>
        <tfoot class="hide-if-no-paging" ng-show="totalpage > 0">
        <tr>
            <td colspan="5" class="text-center" >
                <ul class="nav nav-pills pagination-centered tests">
                    <li class="page-item"><a class="page-link"
                                             ng-click="gotoprevious()">&laquo;</a></li>
                    <li class="page-item" ng-class="{active:$index==currentPage}"
                        ng-repeat="i in pages track by $index"><a
                            class="clickable page-link" ng-click="gotopage($index)"> {{
                        $index + 1}} </a></li>
                    <li class="page-item" id="linknext"><a class="page-link"
                                                           ng-click="gotonext()">&raquo;</a></li>
                </ul>

            </td>

        </tr>
        </tfoot>
    </table>
	