
<br>

<br>
<!--	<div class="table-wrapper">
		<div class="table-title"style="background-color: transparent;>
			<div class="row">

				<div class="col-sm-12">
				<button type="submit" class="btn btn-primary" ng-click="addObjects()" style="background-color: #45637f; color: #ffffff;font-size: 17px;width:90px"><i class="fa fa-forward"></i> <span>Save</span></button> 

				</div>
			</div>
		</div>

	
<div class="alert alert-success margin-top-5" ng-show="ajoutMessage">{{ajoutMessage}}</div>-->

	<table id="table" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>OBJECTIVES</th>
				<th>INDICATORS</th>
				<th>MEANS</th>
				<th>DEADLINE</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" class="form-control"
					ng-model="objs[0].labelObj"></td>
				<td><input type="text" class="form-control"
					ng-model="objs[0].indicator"></td>
				<td><input type="text" class="form-control" ng-model="objs[0].mean"></td>
				<td><input type="date" class="form-control"
					ng-model="objs[0].deadLine"></td>
				
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				
				<td><button type="submit" ng-click="addRow()" style="margin-left: 100%">
						<i class="fa fa-plus-circle"></i>
					</button>
			</tr>
		</tfoot>
	</table>










