<meta name="viewport" content="width=device-width, initial-scale=1">
<br>

<div class="alert alert-success margin-top-5" ng-show="ajoutMessage">{{ajoutMessage}}</div>
<div class="alert alert-success margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
<div class="alert alert-success margin-top-5" ng-show="updateMessage">{{updateMessage}}</div>



    
  </div>
 
    <button ng-show="add==0 && appEmp.mode==0" type="button" class="btn btn-primary btn-sm" ng-click="addObj()">New Objective </button>
    <br><br>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th><center>OBJECTIVES</center></th>         
          <th><center>INDICATORS</center></th>
          <th><center>MEANS</center></th>
          <th><center>DEADLINE</center></th>
          <th ng-show="appEmp.mode==0" ><center>Action</center></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="add==1 && appEmp.mode==0">
		<td></td>
          <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  ng-model="obj.labelObj"></textarea></td>
          <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  ng-model="obj.indicator"></textarea></td>
          <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  ng-model="obj.mean"></textarea></td>
          <td><input type="date"class="form-control" ng-model="obj.deadLine" style="height: 75px"/></td>
          <td>                                                
						<button data-title="Delete" data-toggle="modal" data-target="#delete" style="border: none" class="label label-warning"  ng-click="addNewObj()"><i class="fa fa-plus-circle"></i> Add Objective</button>                                        
          </td>
        </tr>
        <tr  ng-repeat="o in objs">
				
           <td>{{$index+1}}</td>
          <td><center>{{o.labelObj}}</center></td>
          <td><center>{{o.indicator}}</center></td>
          <td><center>{{o.mean}}</center></td>
          <td><center>{{dayObj}}/{{monthObj}}/{{yearObj}}</center></td>
          <td>&nbsp&nbsp
             <button ng-show="appEmp.mode==0" data-title="Delete" data-toggle="modal" data-target="#delete" class="fa fa-trash-o" style="color: #fd0202; font-size: 20px;" ng-click="section_modalDeleteApObj(o.idApObjEmp)"></button>
			 &nbsp&nbsp
			 <button ng-show="appEmp.mode==0" data-title="Update" data-toggle="modal" data-target="#update" class="fa fa-edit"style="color: #3002fd; font-size: 20px;" ng-click="section_modalUpdateApObj(o.idApObjEmp)"></button>
          </td>
        </tr>
			</tbody>
			<tfoot class="hide-if-no-paging">
					<tr>
							<td colspan="5" class="text-center">
									<ul class="pagination"></ul>
							</td>
					</tr>
					</tfoot>
    </table>
	