

<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'; ">
        <section class="box nobox margin-top-15 margin-bottom-0">
            <div class="content-body">
<div class="container" >
<button class="label label-warning" style="background-color:#37474F;border: 
none;border-radius: 25px; height: 32px; width: 10%;" ui-sref="app.newskils"><i class="fa fa-plus-circle"></i>{{"buttons.BTN.NEW"|translate}}</button>
	<table class="table ">
		<thead>
			<tr>
				<th></th>
				<th translate="steps.messages.EMP.SKILL_LABEL" ></th>
				<th translate="steps.messages.EMP.SKILL_TYPE">type</th>
			</tr>
		</thead>
		<tbody >



			<tr ng-repeat="sk in skils">

				<td >{{ sk.idSoftSkill }}</td>
				<td >{{ sk.label
					}}</td>
					<td >{{ sk.code}}</td>
									<td><!-- " -->
						<button class="btn"
						ui-sref="app.updateskils({ id: sk.idSoftSkill})"
							>
							<i class="fa fa-edit"></i>
						</button>
	       <button class="btn" ng-click="suppSkil(sk)"><!-- data-toggle="modal" data-target="#myModal"  -->
							<i class="fa fa-trash"></i>
						</button> 
					</td>
			</tr>
		</tbody>
	</table>

</div>
<div class="container">
		<ul class="nav nav-pills pagination">
			<li class="page-item"><a class="page-link"
				ng-click="gotoprevious()">&laquo;</a></li>
			<li class="page-item" ng-class="{active:$index==currentPage}"
				ng-repeat="i in pages track by $index"><a
				class="clickable page-link" ng-click="gotopage($index)"> {{
					$index + 1}} </a></li>
			<li class="page-item" id="linknext"><a class="page-link"
				ng-click="gotonext()">&raquo;</a></li>
		</ul>
	</div>
	
</div></section></div>
