<div  role="dialog">
    <div class="modal-header">
        <h4 class="modal-title" translate="modals.delete.MOD.CONFIRM"></h4>
    </div>
    <div class="modal-body" translate="modals.delete.MOD.MSG">
           
    </div>
    <div class="modal-footer">                  
        <button class="btn btn-default" ng-click="cancel()">{{ "buttons.BTN.NO" | translate }}</button>
        <button class="btn btn-primary" ng-click="remove_EmployersByTeam()">{{ "buttons.BTN.DELETE" | translate }}</button>
    </div>
    </div>