<br>
<div class="content-body padding-bottom-0">
		<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
	<table class=" table table-striped" style="width:60%">
		<thead>
		<tr>
			<th>#</th>
			<th>Feedback on the management</th>
			<th>Comments</th>

		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="fdb in pageFdback">
			<td></td>
			<td>{{fdb.feedBack.label}}</td>
			<td>
				<textarea ng-show="appEmp.mode==2"class="form-control rounded-0" rows="3" ng-model="fdb.comment" name="comment" required></textarea>
				<textarea ng-show="appEmp.mode==0"class="form-control rounded-0" rows="3" ng-model="fdb.comment" name="comment" disabled></textarea>

			</td>
		</tr>
		</tbody>
		<tfoot style="background-color: rgb(220, 227, 230);">
		<!--<tr>
			<td></td>
			<td><button type="submit" class="btn btn-xs btn-primary" ng-click="saveFeedb()">Valider<span class="glyphicon glyphicon-send"></span></button>
				<button type="sublit" class="btn btn-xs btn-warning" ng-click="annuler()"> <span class="class="glyphiconglyphicon-trash"></span>Annuler</button></td>

		</tr>-->
		</tfoot>
	</table>
	<form>
			<div ng-show="appEmp.mode==2"class="form-group well" style="border: 1px">
			  <label for="comment">Additional feedback:</label>
			  <textarea class="form-control" rows="5" id="comment"></textarea>
			</div>
		  </form>
<div>
</div>
</div>
</div>

</div>
</div>			
</div>
