

	<br>
	<div class="row">
	
	<strong>Employee's wish :</strong>
	    <textarea ng-show="appEmp.mode==2"class="evolution" ng-model="appEmp.wish" required></textarea>
		<textarea ng-show="appEmp.mode==1 || appEmp.mode==0"class="evolution" ng-model="appEmp.wish" disabled></textarea>

	</div>
	<hr>
		<div class="row">
	
	<strong>Manager's opinion :</strong>
	    <textarea ng-show="appEmp.mode==0" class="evolution" ng-model="appEmp.opinion" required></textarea>
		<textarea ng-show="appEmp.mode==1 ||appEmp.mode==2 " class="evolution" ng-model="appEmp.opinion" disabled ></textarea>

	</div>


	
	