
<div class="container" >
	<br>
	
<table class="table  table-striped " >
  <caption>Global synthesis</caption>
  <thead style="
    background-color: aliceblue;
  ">
  <tr >
    <td style="text-align: center;">Strengths</td>
    <td style="text-align: center;">to be improved</td>
  </tr>
  </thead>
  <tr style="height: 300px;"> 
    <td >
              <textarea class="systh" ng-model="strengths"></textarea>
    </td>
    <td >
              <textarea class="systh" ng-model="toBeImproved"></textarea>
    </td>
  </tr>
  
</table>
 strengths : {{strengths}}
 <br>
 toBeImproved : {{toBeImproved}}
</div>

	
	